[submodule "config/vim/bundle/AutoTag"]
	path = config/vim/bundle/AutoTag
	url = http://github.com/vim-scripts/AutoTag.git
[submodule "config/vim/bundle/DetectIndent"]
	path = config/vim/bundle/DetectIndent
	url = http://github.com/vim-scripts/DetectIndent.git
[submodule "config/vim/bundle/nerdtree"]
	path = config/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "config/vim/bundle/Tagbar"]
	path = config/vim/bundle/Tagbar
	url = http://github.com/vim-scripts/Tagbar.git
[submodule "config/vim/bundle/UltiSnips"]
	path = config/vim/bundle/UltiSnips
	url = http://github.com/vim-scripts/UltiSnips.git
[submodule "config/vim/bundle/vim-snippets"]
	path = config/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "config/vim/bundle/YouCompleteMe"]
	path = config/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "config/vim/bundle/vim-pathogen"]
	path = config/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "config/vim/bundle/delimitMate.vim"]
	path = config/vim/bundle/delimitMate.vim
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "config/vim/bundle/tern_for_vim"]
	path = config/vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "config/vim/bundle/ctrlp.vim"]
	path = config/vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
[submodule "config/pyenv"]
	path = config/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "config/pyenv:plugins:pyenv-virtualenv"]
	path = config/pyenv:plugins:pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "config/vim/bundle/neomake"]
	path = config/vim/bundle/neomake
	url = https://github.com/benekastah/neomake.git
[submodule "config/vim/bundle/tComment"]
	path = config/vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment
[submodule "config/vim/bundle/vim-python-pep8-indent"]
	path = config/vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "config/vim/bundle/typescript-vim"]
	path = config/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "config/nodeenv"]
	path = config/nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule "config/vim/bundle/rust.vim"]
	path = config/vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "config/nodenv:plugins:node-build"]
	path = config/nodenv:plugins:node-build
	url = https://github.com/nodenv/node-build.git
[submodule "playbooks/library/external_modules/ansible-aur"]
	path = playbooks/library/external_modules/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
