"*":
  autosave:
    enabled: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__pycache__"
      ".*"
      "*.log"
    ]
    packagesWithKeymapsDisabled: [
      "comment"
    ]
    projectHome: "/home/wezegege/workspace"
    telemetryConsent: "no"
  editor:
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "34e381a8-dce3-42d6-803e-d2948d04b86b"
  "keyboard-localization":
    useKeyboardLayout: "fr_FR"
  linter: {}
  "linter-flake8": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "split-diff":
    syncHorizontalScroll: true
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    clearRangeMarkerOnResetNormalMode: true
    highlightSearch: true
    incrementalSearch: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".dockerfile.source":
  editor:
    tabLength: 4
".dockerignore.source":
  editor:
    tabLength: 4
"file-types":
  "^Dockerfile\\..*$": "source.dockerfile"
